# Main application dependencies
openai
scikit-learn
pandas
flask
psycopg2-binary
python-dotenv
gunicorn
requests
#elasticsearch

# Development dependencies
tqdm
notebook
ipywidgets
jupyter
pgcli
questionary

#comment the lines below if you are not running the llm locally
# Model-related dependencies (required for running models locally)
transformers  # For NLP model usage
accelerate  # For optimized model training and inference
bitsandbytes  # Memory-efficient training
bitsandbytes-cuda116  # CUDA support for bitsandbytes
